@import "tailwindcss";

@layer utilities {
    .hero-banner {
        height: calc(100vh - 100px);
        width: 100%;
        object-fit: cover;
        object-position: top;
    }
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body > * {
    flex-grow: 1;
}

app-root, .content {
    display: flex;
    flex-direction: column;
}