<footer class="bg-black py-16 text-gray-500 border-t border-gray-800">
	<div class="max-w-6xl mx-auto px-8">
		<p class="mb-6">Fragen? Kontaktieren Sie uns.</p>
		<div class="grid grid-cols-2 md:grid-cols-4 gap-6">
			<ul class="space-y-3">
				<li><a class="hover:underline" href="#">FAQ</a></li>
				<li><a class="hover:underline" href="#">Datenschutz</a></li>
			</ul>
			<ul class="space-y-3">
				<li><a class="hover:underline" href="#">Hilfe-Center</a></li>
				<li><a class="hover:underline" href="#">Cookie-Einstellungen</a></li>
			</ul>
			<ul class="space-y-3">
				<li><a class="hover:underline" href="#">Nutzungsbedingungen</a></li>
				<li><a class="hover:underline" href="#">Rechtliche Hinweise</a></li>
			</ul>
			<ul class="space-y-3">
				<li><a class="hover:underline" href="#">Medien-Center</a></li>
				<li><a class="hover:underline" href="#">Kontakt</a></li>
			</ul>
		</div>
		<p class="mt-12">&copy; 2025 Homeflix</p>
	</div>
</footer>